[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/Biohazrd"]
	path = external/Biohazrd
	url = https://github.com/InfectedLibraries/Biohazrd.git
	branch = main
